<table>
  <tr [class]="classParam">
    <th><h2>Радуга</h2></th>
  </tr>
  <tr [class]="classParam">
    <td style.background-color={{red}}><p>{{red}}</p></td>
  </tr>
  <tr [class]="classParam">
    <td style.background-color="{{orange}}"><p>{{orange}}</p></td>
  </tr>
  <tr [class]="classParam">
    <td style.background-color="{{yellow}}"><p>{{yellow}}</p></td>
  </tr>
  <!--data binding typescript to html -->
  <tr [class]="classParam">
    <td [style]="green"><p>{{green}}</p></td>  
  </tr>
  <tr [class]="classParam">
    <td [style]="deepskyblue"><p>{{deepskyblue}}</p></td>  
  </tr>
  <tr [class]="classParam">
    <td [style]="blue"><p>{{blue}}</p></td>  
  </tr>
  <tr [class]="classParam">
    <td [style]="purple"><p>{{purple}}</p></td>  
  </tr>
</table>
<p></p>
<button type="button" (click)="hideRows($event)">Скрыть/отобразить строки</button>
